
table.altBlack
{
    border-collapse: collapse;
    width: 100%;
    margin: 0.25cm;
    position: relative;
}

table.altBlack *
{
    font-family: Tahoma;
    #font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

table.altBlack th
{
    #background-color: #4472C4;
    #background-color: #000;
    #color: white;
    #background-color: #101010;
    background-color: black;
    #color: #9d9d9d;
    color: #EdEdEd;
    #letter-spacing: 1mm;
    #text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
    position: sticky;
    top: 0;
}

table.altBlack td, table.altBlack th
{
    border: 1px solid white;
}

table.altBlack th, table.altBlack td
{
    padding: 1mm;
    vertical-align: middle;
    display: table-cell;
    line-height: 1.25em;
}

table.altBlack tbody tr:nth-child(even)
{
    #background: #D9E1F2;
    #background: rgb(239, 239, 239);
    background-color: #ebebeb;
}

table.altBlack tbody tr:nth-child(odd)
{
    #background: #B4C6E7;
    #background: rgb(225, 225, 225);
    #background: #E1E1E1;
    #background: #F5F5F5;
    background-color: #e3e3e3;
}

table.altBlack tfoot tr
{
    #background-color: #4472C4;
    #background-color: #000;
    #color: white;
    #background-color: #101010;
    background-color: black;
    #color: #9d9d9d;
    color: #EdEdEd;
    #letter-spacing: 1mm;
    #text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;

    position: sticky;
    bottom: 0;
}
